<div class="options-container">
  <a href="/games/form" class="option-button">Add New Game</a>
  <a href="/publishers/form" class="option-button">Add New Publisher</a>
  <a href="/genres/form" class="option-button">Add New Genre</a>
</div>