<div class="games-container">
  <h2>List of Games</h2>
  <div class="games-gallery">
      <% games.forEach(game => { %>
          <div class="game-item">
              <a href="/games/<%= game.id %>">
                  <img src="<%= game.image %>" alt="<%= game.title %>" class="game-image">
                  <p class="game-title"><%= game.title %></p>
              </a>
          </div>
      <% }); %>
  </div>

  <a href="/games/form?action=add" class="add-game-link">Add New Game</a>
</div>