<div class="item-container">
  <h1>List of Games</h1>
  <div class="item-gallery">
      <% games.forEach(game => { %>
          <div class="item">
              <a href="/games/<%= game.id %>">
                  <img src="<%= game.image %>" alt="<%= game.title %>" class="item-image">
                  <p class="item-title"><%= game.title %></p>
              </a>
          </div>
      <% }); %>
  </div>

  <a href="/games/form?action=add" class="add-item-link">Add New Game</a>
</div>