<div class="item-container">
  <h2>List of Genres</h2>
  <div class="item-gallery">
      <% rows.forEach(genre => { %>
          <div class="item">
              <a href="/genres/<%= genre.id %>">
                  <img src="<%= genre.image %>" alt="<%= genre.name %>" class="item-image">
                  <p class="item-title"><%= genre.name %></p>
              </a>
          </div>
      <% }); %>
  </div>

  <a href="/genres/form?action=add" class="add-item-link">Add New Genre</a>
</div>
