<header class="header">
  <div class="logo">
      <h1><a href="/">Game Inventory</a></h1>
  </div>
  <nav>
      <ul>
          <li><a href="/games">Games</a></li>
          <li><a href="/publishers">Publishers</a></li>
          <li><a href="/genres">Genres</a></li>
          <li><a href="/add">Add</a></li>
      </ul>
  </nav>
</header>