@import url("./header.css");
@import url("./searchBar.css");
@import url("./add.css");
@import url("./form.css");
@import url("./details.css");
@import url("./itemGallery.css");
@import url("./error.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}